<%- include('common/header', {title: title, stylesheet: stylesheet}); %>
    <div class="navbar">
        <div class="navbar-mid">
            <p id="logo"><a href="/">Prello</a></p>
        </div>
    </div>
    <div id="error-page">
        <h1>
            <%= message %>
        </h1>
        <h2>
            <a href="/">Take me to safety!</a>
        </h2>
    </div>
<%- include('common/footer'); %>
