<%- include('common/header', {title: title, stylesheet: stylesheet}); %>
    <div class="navbar">
        <div class="navbar-mid">
            <p id="logo"><a href="/">Prello</a></p>
        </div>
    </div>
    <div class="page-container">
        <% if (notice) { %>
            <div id="notice">
                <%= notice %>
            </div>
        <% } %>
        <div class="fields">
            <p class="page-section">Reset Password</p>
            <form id="form-registration" action="/forgot" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="e.g email@domain.com" required>
                <input class="submit-btn" type="submit" value="Reset">
            </form>
        </div>
    </div>
<%- include('common/footer'); %>