<%- include('common/header', {title: title, stylesheet: stylesheet}); %>
    <div id="app"></div>
    <script>
        let USERNAME = "<%= username %>";
    </script>
    <script src="/javascripts/boards.js"></script>
<%- include('common/footer'); %>