body {
    font-family: 'Helvetica', 'Lucida Sans Regular';
    background-color: #FFF;
}

#logo {
    font-family: 'Brush Script MT', 'Helvetica', 'Lucida Sans Regular';
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #0067A3;
    color: #FFF;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-mid {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.navbar-right {
    position: absolute;
    right: 0;
    top: 0;
}

#boards-list {
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    border-radius: 2px;
    color: #000;
    display: none;
    position: fixed;
    background-color: #FFF;
    min-width: 280px;
}

#create-board-menu {
    color: #000;
    position: fixed;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    border-radius: 2px;
    background-color: #FFF;
    display: none;
    padding: 5px;
    right: 0;
}

label {
    display: block;
    font-weight: bold;
}

.btn {
    font-weight: bold;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    margin: 5px;
    padding: 3px 8px;
}

.btn:hover {
    background-color: #0079BF;
    color: #FFF;
    cursor: pointer;
}


.navbar-btn {
    border-radius: 5px;
    background-color: #4791BD;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    margin: 5px 3px;
    min-width: 20px;
    padding: 0 10px;
    text-align: center;
}

#create-board-btn {
    font-size: 25px;
}

.navbar-btn:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.boards-list-sep {
    margin: 10px 0 0 10px;
}

.boards-list-sep-name {
    font-size: .90rem;
    margin-bottom: 0;
}

.board-entry-list {
    margin-top: 2px;
}

.board-entry {
    background-color: #E0EFF7;   
    border-radius: 3px;
    height: 36px;
    margin: 5px;
}

.board-entry-text {
    display: block;
    font-weight: bold;
    padding: 10px 20px;
}

.board-entry:hover {
    filter: brightness(95%);
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}

#logo {
    display: inline-block;
}

.board-collection {
    margin: 40px auto;
    width: 80%;
}

.boards-container {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.board {
    background-color: #0067A3;
    border-radius: 5px;
    color: #FFF;
    height: 100px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.board:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.board-name {
    margin-top: 5px;
}

.collection-name {
    font-weight: bold;
    font-size: 20px;
    margin: 50px 0 0 30px;
}