body {
    font-family: 'Helvetica', 'Lucida Sans Regular';
    background-color: #FFF;
}

.navbar {
    background-color: #0067A3;
    color: #FFF;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-mid {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.page-container {
    margin-top: 60px;
}

.fields {
    margin: 0 auto;
    width: 600px;
}

.page-section {
    font-size: 2rem;
    font-weight: bold;
}

label {
    font-size: 1.5rem;
    display: block;
    margin: 10px 0;
}

label[for="login-remember"] {
    display: inline-block;
}

input {
    background-color: #EDEFF0;
    border: 1px solid #CDD2D4;
    border-radius: 4px;
    display: block;
    font-size: 1.5rem;
    padding: 10px;
}

.remember-checkbox {
    display: inline-block;
}

input:focus {
    outline: none;
}

.submit-btn {
    color: white;
    background-color: #3F66AC;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0 2px #888888;
    margin: 10px 0;
}

.submit-btn:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#notice {
    background-color: #E0EFF7;   
    border: 2px solid #000; 
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}