body {
    font-family: 'Helvetica', 'Lucida Sans Regular';
    background-color: #B5CAF0;
}

.navbar {
    background-color: #254F9B;
    color: #FFF;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-mid {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.navbar-right {
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
    margin-top: 50px;
}

#boards-list-btn {
    background-color: #3F66AC;
    color: #FFF;
    border-radius: 5px;
    border: none;
    margin: 7px;
    padding: 5px;
}

.menu-section-name {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

#boards-list {
    box-shadow: 2px 2px 1px #888888;
    border-radius: 2px;
    color: #000;
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 200px;
}

#logo {
    display: inline-block;
}


.board-entry {
    background-color: #B5CAF0;   
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
}



.create-btn {
    background-color: #3F66AC;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 8px;
    padding: 5px;
}

.create-btn:hover {
    background-color: #B5CAF0;
    cursor: pointer;
}

.board-collection {
    margin: 0 auto;
    width: 80%;
}

.boards {
    display: flex;
    flex-wrap: wrap;
}

.board {
    background-color: #254F9B;
    border-radius: 10px;
    color: #FFF;
    height: 100px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.board:hover {
    background-color: #3F66AC;
    cursor: pointer;
}

.board-name {
    margin-top: 5px;
}