body {
    font-family: 'Helvetica', 'Lucida Sans Regular';
    background-color: #3F66AC;
    color: #FFF;
}

.navbar {
    background-color: #254F9B;
    color: #FFF;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.board-toolbar {
    height: 40px;
    left: 0;
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 0;
}

#boards-list {
    box-shadow: 2px 2px 1px #888888;
    border-radius: 2px;
    color: #000;
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 200px;
}

#board-menu {
    background-color: #B5CAF0;
    box-shadow: 2px 2px 1px #888888;
    border-radius: 2px;
    color: #000;
    display: none;
    padding: 4px;
    position: absolute;
    width: 200px;
    right: 40px;
}

.menu-activity {
    border-bottom: 2px solid #000;
    padding: 3px;
    margin-bottom: 3px;
}

.board-entry {
    background-color: #B5CAF0;   
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
}

.board-entry:hover {
    background-color: #3F66AC;
}

.board-name {
    display: inline-block;
    margin-left: 10px;
}

.board-menu-dropdown {
    margin: 25px;
    float: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

.lol {
    margin-top: 90px;
}

#boards-list-btn {
    background-color: #3F66AC;
    color: #FFF;
    border-radius: 5px;
    border: none;
    margin: 8px;
    padding: 5px;
}

#boards-list-btn:hover {
    background-color: #B5CAF0;
}


.board-page {
    margin-top: 50px;
}

.card, .menu-option {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 0 #888888;
    margin: 5px;
    padding: 3px 8px;
}

.card:hover, .menu-option:hover {
    background-color: #CBCBCB;
}

.menu-activity-time {
    margin: 3px;
    font-size: 13px;
}

.card-desc {
    margin: 0;
}

.lol {
    white-space: nowrap;
}

.list {
    background-color: #B5CAF0;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    vertical-align: top;
    width: 200px;
}

.list-name {
    margin: 0;
}

.add-link {
    margin: 10px 3px 0;
}

.add-link:hover, #board-menu-btn:hover, .menu-add-members-link:hover {
    background-color: #CBCBCB;
    text-decoration: underline;
}

.card-page {
    background-color: #B5CAF0;
    border-radius: 5px;
    color: #000;
    padding: 5px;
    width: 600px;
}

.card-section-name {
    font-weight: bold;
    margin: 3px;
}

.card-label {
    border-radius: 2px;
    display: inline-block;
    min-height: 30px;
    min-width: 40px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}

.card-label:hover {
    background-color: rgba(255,255,255,0.4);
}

.card-label-green {
    background-color: green;
}

.card-label-red {
    background-color: red;
}

.card-label-purple {
    background-color: purple;
}

.card-member {
    display: inline-block;
    background-color: #FFF;
    border-radius: 2px;
    padding: 1px;
}

.card-member:hover {
    background-color: #CBCBCB;
}

.card-comment-username, .menu-activity-username, .menu-section-name {
    font-weight: bold;
    margin: 0;
}

.card-comment-content {
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 2px 2px 1px #888888;
    display: inline-block;
    margin: 4px 5px;
    padding: 5px;
}

.card-add-option {
    background-color: #FFF;
    box-shadow: 0 2px 1px #888888;
    padding: 5px;
    border-radius: 2px;
    margin: 4px 5px;
}

.card-add-option:hover {
    background-color: #3F66AC;
}
