body {
    font-family: 'Helvetica', 'Lucida Sans Regular';
    background-color: #3F66AC;
    color: #FFF;
}

.navbar {
    background-color: #254F9B;
    color: #FFF;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.board-toolbar {
    height: 40px;
    left: 0;
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: -1;
}

#boards-list {
    box-shadow: 2px 2px 1px #888888;
    border-radius: 2px;
    color: #000;
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 200px;
    z-index: 1;
}

.board-entry {
    background-color: #B5CAF0;   
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
}

.board-entry:hover {
    background-color: #3F66AC;
}

.board-name {
    display: inline-block;
    margin-left: 10px;
}

.board-menu {
    margin: 25px;
    float: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

.lol {
    margin-top: 90px;
}

#boards-list-btn {
    background-color: #3F66AC;
    color: #FFF;
    border-radius: 5px;
    border: none;
    margin: 8px;
    padding: 5px;
}

#boards-list-btn:hover {
    background-color: #B5CAF0;
}


.board-page {
    margin-top: 50px;
}

.card {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 0 #888888;
    margin: 5px;
    padding: 3px 8px;
}

.card:hover {
    background-color: #CBCBCB;
}

.card-desc {
    margin: 0;
}

.lol {
    white-space: nowrap;
}

.list {
    background-color: #B5CAF0;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    vertical-align: top;
    width: 200px;
}

.list-name {
    margin: 0;
}

.add-link {
    margin: 10px 3px 0;
}

.add-link:hover {
    background-color: #CBCBCB;
    text-decoration: underline;
}